pkgbase = ollux
	pkgdesc = Ultra-lightweight native Linux desktop client for Ollama with reasoning controls and live benchmarks
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AGIQdev-Aditya/ollux
	arch = any
	license = MIT
	depends = python>=3.10
	depends = python-pywebview
	depends = python-requests
	depends = python-pypdf
	depends = python-gobject
	depends = gtk3
	depends = webkit2gtk-4.1
	optdepends = ollama: Local LLM runner daemon
	optdepends = python-ddgs: Privacy-first web search integration
	source = ollux-0.1.0.tar.gz::https://github.com/AGIQdev-Aditya/ollux/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = c858dc1745c82d94676a57d4756bda6459dacf6f9d359769ce7a5d00e62ee0bf

pkgname = ollux
